<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Результаты</title>
        <!-- Favicon-->
        <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
<!--        <link href="static/css/styles.css" rel="stylesheet" />-->



    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
            <div class="container">
                <a class="navbar-brand" href="/">Парсер HH.ru</a>
                <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/">Главная</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/form/">Форма поиска</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/results/">Результат</a></li>
                        <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/sql/">Результат SQL</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead bg-primary text-white text-center">
            <div class="container d-flex align-items-center flex-column">

                <!-- Masthead Heading-->
                <h1 class="masthead-heading text-uppercase mb-0">Результаты запроса</h1>
                <!-- Icon Divider-->
<br>
                <!-- Masthead Subheading-->
                <div class="row">
                    <div class="col-lg-auto" align="left">
                        <p class="lead">
                            <h3>
                            Параметры поиска
                            </h3>
                         <br>
                        <h4>
                            <ol>
                                <li>{{context[0][7]}}</li>
                                <li>{{context[0][8]}}</li>
                            </ol>
                        </h4>
                        </p>
                    </div>

 {% if context %}


                </div>

            </div>
        </header>

        <section class="page-section portfolio" id="portfolio">
            <div class="container">
                <!-- Portfolio Section Heading-->
                <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">РЕЗУЛЬТАТ</h2>
                <!-- Icon Divider-->
                <br>
                <table class ="table table-striped" align="center" >
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Зарплата</th>
                            <th>Описание</th>
                            <th>Навыки</th>
                            <th>Как часто встречается</th>
                            <th>Ссылка на страницу на hh.ru</th>
                        </tr>
                    <thead>
                    <tbody>
                        {% for vacanc in context %}


                        <tr>
                            <td>{{vacanc[1]}}</td>
                                <td>{{vacanc[2]}}

                            <td>{{vacanc[3]}}</td>
                           <td>{{vacanc[5]}}</td>
                            <td>{{vacanc[6]}}</td>
                            <td> <a href={{vacanc[4]}}> {{vacanc[4]}}</a></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </section>
  {% else %}
        <p class="lead">
            <h4> Некоректный запрос</h4>
   {% endif%}

   </body>
</html>
